NEXT_PUBLIC_SOL_PUBLIC_KEY=AQohbSUeTYpVLMdSzeuQkujBaYSBygwDXogwCWvGf6J8
NEXT_PUBLIC_CLUSTER_NODE=https://little-summer-river.solana-mainnet.quiknode.pro/f71295690f0aa5b01debef9db5dcce868f9195ed/
NEXT_PUBLIC_SOLASCAN_API_URL=https://api.solscan.io
NEXT_PUBLIC_PROJECT_ID=43ac187d9b000451d937a7ddb4d4814d